/* Necessary for Google Maps version 3 */
html {
	height: 100%;
}

/* Necessary for Google Maps version 3 */
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	width: 100%;
	height: 100%;
}